:root{--mein-text-cl:#757575;
--main-title-cl:#FFFFFF;
--title-cl:#212121;
--link-cl:#2196F3;

--main-text-cl:'Roboto', sans-serif;
--title-text-cl:'Raleway', sans-serif;

 }




body{font-family: var(--main-text-cl);}


/*font-family: 'Raleway', sans-serif/
